@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.bg-primary-gradient {
  background: linear-gradient(
    90deg,
    #0098a7 0%,
    #0098a7 0.78%,
    #0097a6 1.56%,
    #0097a6 2.34%,
    #0096a5 3.12%,
    #0095a5 3.91%,
    #0195a4 4.69%,
    #0194a3 5.47%,
    #0194a3 6.25%,
    #0193a2 7.03%,
    #0192a2 7.81%,
    #0192a1 8.59%,
    #0191a1 9.38%,
    #0191a0 10.16%,
    #0190a0 10.94%,
    #018f9f 11.72%,
    #018f9f 12.5%,
    #028e9e 13.28%,
    #028e9d 14.06%,
    #028d9d 14.84%,
    #028c9c 15.62%,
    #028c9c 16.41%,
    #028b9b 17.19%,
    #028b9b 17.97%,
    #028a9a 18.75%,
    #02899a 19.53%,
    #028999 20.31%,
    #028899 21.09%,
    #038898 21.88%,
    #038797 22.66%,
    #038697 23.44%,
    #038696 24.22%,
    #038596 25%,
    #038595 25.78%,
    #038495 26.56%,
    #038494 27.34%,
    #038394 28.12%,
    #038293 28.91%,
    #048292 29.69%,
    #048192 30.47%,
    #048191 31.25%,
    #048091 32.03%,
    #047f90 32.81%,
    #047f90 33.59%,
    #047e8f 34.38%,
    #047e8f 35.16%,
    #047d8e 35.94%,
    #047c8e 36.72%,
    #047c8d 37.5%,
    #057b8c 38.28%,
    #057b8c 39.06%,
    #057a8b 39.84%,
    #05798b 40.62%,
    #05798a 41.41%,
    #05788a 42.19%,
    #057889 42.97%,
    #057789 43.75%,
    #057688 44.53%,
    #057688 45.31%,
    #057587 46.09%,
    #067586 46.88%,
    #067486 47.66%,
    #067385 48.44%,
    #067385 49.22%,
    #067284 50%,
    #067284 50.78%,
    #067183 51.56%,
    #067183 52.34%,
    #067082 53.12%,
    #066f82 53.91%,
    #076f81 54.69%,
    #076e80 55.47%,
    #076e80 56.25%,
    #076d7f 57.03%,
    #076c7f 57.81%,
    #076c7e 58.59%,
    #076b7e 59.38%,
    #076b7d 60.16%,
    #076a7d 60.94%,
    #07697c 61.72%,
    #07697c 62.5%,
    #08687b 63.28%,
    #08687a 64.06%,
    #08677a 64.84%,
    #086679 65.62%,
    #086679 66.41%,
    #086578 67.19%,
    #086578 67.97%,
    #086477 68.75%,
    #086377 69.53%,
    #086376 70.31%,
    #086276 71.09%,
    #096275 71.88%,
    #096174 72.66%,
    #096074 73.44%,
    #096073 74.22%,
    #095f73 75%,
    #095f72 75.78%,
    #095e72 76.56%,
    #095e71 77.34%,
    #095d71 78.12%,
    #095c70 78.91%,
    #0a5c6f 79.69%,
    #0a5b6f 80.47%,
    #0a5b6e 81.25%,
    #0a5a6e 82.03%,
    #0a596d 82.81%,
    #0a596d 83.59%,
    #0a586c 84.38%,
    #0a586c 85.16%,
    #0a576b 85.94%,
    #0a566b 86.72%,
    #0a566a 87.5%,
    #0b5569 88.28%,
    #0b5569 89.06%,
    #0b5468 89.84%,
    #0b5368 90.62%,
    #0b5367 91.41%,
    #0b5267 92.19%,
    #0b5266 92.97%,
    #0b5166 93.75%,
    #0b5065 94.53%,
    #0b5065 95.31%,
    #0b4f64 96.09%,
    #0c4f63 96.88%,
    #0c4e63 97.66%,
    #0c4d62 98.44%,
    #0c4d62 99.22%,
    #0c4c61 100%
  );
}

.bg-secondary-gradient {
  background: linear-gradient(
    0deg,
    #71c6b0 0%,
    #71c6b0 3.12%,
    #71c6b0 3.91%,
    #72c6b0 4.3%,
    #72c6b0 4.69%,
    #73c6af 5.08%,
    #74c7af 5.47%,
    #74c7af 5.86%,
    #75c7af 6.25%,
    #76c7ae 6.64%,
    #76c7ae 7.03%,
    #77c7ae 7.42%,
    #78c8ae 7.81%,
    #78c8ae 8.2%,
    #79c8ad 8.59%,
    #7ac8ad 8.98%,
    #7ac8ad 9.37%,
    #7bc8ad 9.77%,
    #7cc8ac 10.16%,
    #7cc9ac 10.55%,
    #7dc9ac 10.94%,
    #7ec9ac 11.33%,
    #7ec9ac 11.72%,
    #7fc9ab 12.11%,
    #80c9ab 12.5%,
    #80caab 12.89%,
    #81caab 13.28%,
    #82caaa 13.67%,
    #82caaa 14.06%,
    #83caaa 14.45%,
    #84caaa 14.84%,
    #84caaa 15.23%,
    #85cba9 15.62%,
    #86cba9 16.02%,
    #86cba9 16.41%,
    #87cba9 16.8%,
    #88cba8 17.19%,
    #88cba8 17.58%,
    #89cca8 17.97%,
    #8acca8 18.36%,
    #8acca8 18.75%,
    #8bcca7 19.14%,
    #8ccca7 19.53%,
    #8ccca7 19.92%,
    #8dcca7 20.31%,
    #8ecda6 20.7%,
    #8ecda6 21.09%,
    #8fcda6 21.48%,
    #90cda6 21.87%,
    #90cda6 22.27%,
    #91cda5 22.66%,
    #92cea5 23.05%,
    #92cea5 23.44%,
    #93cea5 23.83%,
    #94cea4 24.22%,
    #94cea4 24.61%,
    #95cea4 25%,
    #96cea4 25.39%,
    #96cfa4 25.78%,
    #97cfa3 26.17%,
    #98cfa3 26.56%,
    #98cfa3 26.95%,
    #99cfa3 27.34%,
    #9acfa2 27.73%,
    #9ad0a2 28.12%,
    #9bd0a2 28.52%,
    #9cd0a2 28.91%,
    #9cd0a2 29.3%,
    #9dd0a1 29.69%,
    #9ed0a1 30.08%,
    #9fd0a1 30.47%,
    #9fd1a1 30.86%,
    #a0d1a0 31.25%,
    #a1d1a0 31.64%,
    #a1d1a0 32.03%,
    #a2d1a0 32.42%,
    #a3d1a0 32.81%,
    #a3d29f 33.2%,
    #a4d29f 33.59%,
    #a5d29f 33.98%,
    #a5d29f 34.37%,
    #a6d29e 34.77%,
    #a7d29e 35.16%,
    #a7d29e 35.55%,
    #a8d39e 35.94%,
    #a9d39e 36.33%,
    #a9d39d 36.72%,
    #aad39d 37.11%,
    #abd39d 37.5%,
    #abd39d 37.89%,
    #acd49c 38.28%,
    #add49c 38.67%,
    #add49c 39.06%,
    #aed49c 39.45%,
    #afd49c 39.84%,
    #afd49b 40.23%,
    #b0d49b 40.62%,
    #b1d59b 41.02%,
    #b1d59b 41.41%,
    #b2d59b 41.8%,
    #b3d59a 42.19%,
    #b3d59a 42.58%,
    #b4d59a 42.97%,
    #b5d69a 43.36%,
    #b5d699 43.75%,
    #b6d699 44.14%,
    #b7d699 44.53%,
    #b7d699 44.92%,
    #b8d699 45.31%,
    #b9d698 45.7%,
    #b9d798 46.09%,
    #bad798 46.48%,
    #bbd798 46.87%,
    #bbd797 47.27%,
    #bcd797 47.66%,
    #bdd797 48.05%,
    #bdd897 48.44%,
    #bed897 48.83%,
    #bfd896 49.22%,
    #bfd896 49.61%,
    #c0d896 50%,
    #c1d896 50.39%,
    #c1d895 50.78%,
    #c2d995 51.17%,
    #c3d995 51.56%,
    #c3d995 51.95%,
    #c4d995 52.34%,
    #c5d994 52.73%,
    #c5d994 53.12%,
    #c6da94 53.52%,
    #c7da94 53.91%,
    #c7da93 54.3%,
    #c8da93 54.69%,
    #c9da93 55.08%,
    #c9da93 55.47%,
    #cadb93 55.86%,
    #cbdb92 56.25%,
    #cbdb92 56.64%,
    #ccdb92 57.03%,
    #cddb92 57.42%,
    #cddb91 57.81%,
    #cedb91 58.2%,
    #cfdc91 58.59%,
    #cfdc91 58.98%,
    #d0dc91 59.37%,
    #d1dc90 59.77%,
    #d1dc90 60.16%,
    #d2dc90 60.55%,
    #d3dd90 60.94%,
    #d3dd8f 61.33%,
    #d4dd8f 61.72%,
    #d5dd8f 62.11%,
    #d5dd8f 62.5%,
    #d6dd8f 62.89%,
    #d7dd8e 63.28%,
    #d7de8e 63.67%,
    #d8de8e 64.06%,
    #d9de8e 64.45%,
    #d9de8d 64.84%,
    #dade8d 65.23%,
    #dbde8d 65.62%,
    #dbdf8d 66.02%,
    #dcdf8d 66.41%,
    #dddf8c 66.8%,
    #dedf8c 67.19%,
    #dedf8c 67.58%,
    #dfdf8c 67.97%,
    #e0df8b 68.36%,
    #e0e08b 68.75%,
    #e1e08b 69.14%,
    #e2e08b 69.53%,
    #e2e08b 69.92%,
    #e3e08a 70.31%,
    #e4e08a 70.7%,
    #e4e18a 71.09%,
    #e5e18a 71.48%,
    #e6e189 71.87%,
    #e6e189 72.27%,
    #e7e189 72.66%,
    #e8e189 73.05%,
    #e8e189 73.44%,
    #e9e288 73.83%,
    #eae288 74.22%,
    #eae288 74.61%,
    #ebe288 75%,
    #ece287 75.39%,
    #ece287 75.78%,
    #ede387 76.17%,
    #eee387 76.56%,
    #eee387 76.95%,
    #efe386 77.34%,
    #f0e386 77.73%,
    #f0e386 78.12%,
    #f1e386 78.52%,
    #f2e485 78.91%,
    #f2e485 79.3%,
    #f3e485 79.69%,
    #f4e485 80.08%,
    #f4e485 80.47%,
    #f5e484 80.86%,
    #f6e584 81.25%,
    #f6e584 81.64%,
    #f7e584 82.03%,
    #f8e583 82.42%,
    #f8e583 82.81%,
    #f9e583 83.2%,
    #fae583 83.59%,
    #fae683 83.98%,
    #fbe682 84.37%,
    #fbe682 87.5%,
    #fce682 100%
  );
}

.bg-contact-gradient {
  background: linear-gradient(180deg, #ffe882 59%, #0098a7 89.5%);
  @media (width<640px) {
    background: linear-gradient(180deg, #ffe882 50.22%, #0098a7 80.08%);
  }
}

.text-gradient-blue {
  color: linear-gradient(90deg, #0098a7 0%, #71c6b0 100%);
}

.text-gradient-complementary {
  background: -webkit-linear-gradient(
    in oklab,
    rgba(113, 198, 176, 1) 0%,
    rgba(255, 232, 130, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel {
  &.carousel-slider {
    padding-bottom: 50px;
  }
  .control-dots {
    margin-top: 30px !important;
    .dot {
      background-color: #ffffff !important;
      opacity: 1 !important;
      width: 14px !important;
      height: 14px !important;
      border-width: 0 !important;
      box-shadow: none !important;
    }
    .dot.selected {
      background-color: #ffe882 !important;
    }
  }
  .control-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 48 48' %3E%3Cpath d='M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z'%3E%3C/path%3E%3C/svg%3E") !important;
    background-size: cover;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    height: 50px;
    width: 50px;
    top: 25% !important;
    transform: scale(2);
    padding: 0 !important;
    right: -35px !important;
    &:before,
    &:active,
    &:focus {
      border: none !important;
      background-color: transparent !important ;
    }
  }
  .control-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M11.67 3.87 9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z'%3E%3C/path%3E%3C/svg%3E") !important;
    background-size: cover;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    height: 50px;
    width: 50px;
    top: calc(25% - 25px) !important;
    padding: 0 !important;
    &:before,
    &:active,
    &:focus {
      border: none !important;
      background-color: transparent !important ;
    }
  }
}

.donut {
  .donut-chart {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto 2rem;
    border-radius: 100%;
  }
  .donut-center {
    background: #ffffff;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
  }

  .portion-block {
    border-radius: 50%;
    clip: rect(0px, 320px, 320px, 160px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .circle {
    border-radius: 50%;
    clip: rect(0px, 160px, 320px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }

  #part1 {
    transform: rotate(0deg);
  }

  #part1 .circle {
    background-color: #71c6b0;
    //transform: rotate(90deg);
    animation: first 1s 1 forwards;
  }

  #part2 {
    transform: rotate(180deg);
  }
  #part2 .circle {
    background-color: #FA8334;
    //transform: rotate(90deg);
    animation: second 1s 1 forwards 1s;
  }
  @keyframes first {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }

  @keyframes second {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
}
/*slick*/
.slick-slider {
  height: 400px;
  .slick-slide {
    .img-container {
      position: relative;
      height: 300px;
      img {
        transition: all 0.3s ease-out allow-discrete;
        transition-delay: 50ms;
        height: 35%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .slick-current {
    .img-container {
      padding: 0;
    }
  }
  .slick-current {
    .img-container {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .slick-next {
    z-index: 10;
    right: 0;
    width: 45px;
    height: 45px;
    transform: scale(2);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 48 48' %3E%3Cpath d='M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    &:before {
      content: "";
    }
    &:hover,
    &:active,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 48 48' %3E%3Cpath d='M6.23 20.23 8 22l10-10L8 2 6.23 3.77 14.46 12z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  .slick-prev {
    z-index: 10;
    left: 0;
    width: 45px;
    height: 45px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M11.67 3.87 9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    &:before {
      content: "";
    }
    &:hover,
    &:active,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M11.67 3.87 9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}
